<% var scores = yield $Score.findScore() %>
<div class="ui cards">
    <div class="card">
        <div class="content">
            <b>积分榜</b>
            <div class="ui divider"></div>
            <div class="ui list">
                <div class="item">
                    <ol>
                        <% scores.forEach(%>
                        <li><span class="top_score"><%= %></span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>