<div class="ui cards">
    <div class="card">
        <div class="content">
            <b>联系我们</b>
            <div class="ui divider"></div>
            <div class="ui list">
                <div class="item">
                    <a href="https://cnodejs.org/" target="_blank"><img src="/images/weixinlogo.png" style="width:100%;"></a>
                </div>
            </div>
        </div>
    </div>
</div>