<div class="ui menu footer" style="margin-bottom: 0;">
  <div class="container" style="height: 50px; line-height: 50px;">
    <a href="javascript:void(0);" class="item">Power By NodeJS</a>
    <div class="item"><a href="https://github.com/zeroone001" target="_blank" style="color: #19add8;">刘永胜</a> 12级数字媒体技术 毕业设计</div>
  </div>
</div>
  </body>
</html>